:root {
  --black: #1a1a1a;
  --white: #fff;
  --aqua: #43b7e9;
  --blue: #2d68ff;
  --red: #ee3939;
  --navyBlue: #2442ac;
  --pink: #ee3fc8;
  --Dark-Grey: #333;
  --maroon: #8a1a50;
  --darkBlue: #302267;
  --coral: #eb4925;
  --liteBlue: #0330d1;
  --orange: #ec7100;
}
