.container {
  border-radius: 12px;
  background: var(--light-grey, #fafafa);
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 12px;
}
.link-remove-text {
  display: flex;
  justify-content: space-between;
}
.link-one {
  color: var(--grey, #737373);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.remove {
  color: var(--grey, #737373);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
main {
  align-items: center;
}
.platform {
  color: var(--dark-grey, #333);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
#github {
  border-radius: 8px;
  border: 1px solid var(--borders, #d9d9d9);
  background: url(../../assets/links-assets/icon-github.svg) var(--white, #fff);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 16px;
  margin-top: 4px;
  display: flex;
  padding: 12px 38px;
  align-items: center;
  gap: 12px;
  min-width: 255px;
}
.input-link {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#fname {
  border-radius: 8px;
  border: 1px solid var(--borders, #d9d9d9);
  background: url(../../assets/links-assets/icon-link-copied-to-clipboard.svg)
    var(--white, #fff);
  background-repeat: no-repeat;
  background-position-x: 16px;
  background-position-y: center;
  display: flex;
  padding: 16px 16px 16px 40px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
#fname::placeholder {
  opacity: 0.5;
}
footer {
  margin-top: 155px;
}
#save {
  opacity: 1;
}
